@using DeskEntity.Model;
@model Tuple<List<Employee>,List<BookingSeat>>;


<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <style>
        .navbar {
            display: none;
        }
        .footer {
            display: none;
        }
    </style>

</head>

<body>

    @{

        int booked_and_came = 0;

        int booked_and_notcame = 0;

        int Total_Employees = 0;



        foreach (var item in Model.Item2)

        {



            if (item.SeatStatus == 1)

            {

                booked_and_came++;

            }

            else

            {

                booked_and_notcame++;

            }

        }



        foreach (var item in Model.Item1)

        {

            Total_Employees++;

        }






        <table>

            <thead>

                @foreach (var item in Model.Item2)

                {

                    <h1>Booking Done By Employees on @item.FromDate.ToShortDateString() </h1>

                    break;

                }

                <tr>&nbsp;</tr>

                <tr>

                    <th>Booking Id</th>

                    <th>Employee Id</th>

                    <th>Employee Name</th>
                    <th> Dates of Booking</th>
                    <th> seat Status</th>
                  

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model.Item2)

                {
                    <tr>


                        <td>@item.BookingSeatId</td>

                        <td>@item.Employee.EmployeeID</td>
                        <td>@item.Employee.EmployeeName</td>
                        <td>@item.FromDate.ToShortDateString()</td>
                        <td>@item.SeatStatus</td>
                     


                    </tr>

                    //                     




                    if (item.SeatStatus == 1)

                    {

                    <td>Booked and Scanned</td>

                    }





                }

            </tbody>

        </table>

    }





    <p class=" font-weight-bolder">Total Employees : @Total_Employees</p>

    <p class=" font-weight-bolder">Booked and Scanned Employees:@booked_and_came</p>

    <p class=" font-weight-bolder">Booked and Not Came Employees:@booked_and_notcame</p>

    <p class=" font-weight-bolder">Not Booked and Not Came:@(Total_Employees - booked_and_notcame-booked_and_came)</p>

    <div id="downbtn">

        <button id="downloadBtn">Download PDF</button>
    </div>

</body>

<script>

    const downloadBtn = document.getElementById('downloadBtn');
    const downbtn = document.getElementById('downbtn');

    downloadBtn.addEventListener('click', () => {

        generatePDF();

    });

    downBtn.addEventListener('click', () => {
        delBtn();
    })

    function generatePDF() {

        const element = document.body;

        const options = {

            margin: 1,

            filename: 'myPDFFile.pdf',

            image: { type: 'jpeg', quality: 0.98 },

            html2canvas: { scale: 2 },

            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }

        };

        document.getElementById('downbtn').innerHTML = null;

        html2pdf().from(element).set(options).save();

    }


</script>





