@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@model DeskEntity.Model.BookingSeat

<br />
<div style="display: flex; justify-content: space-evenly; align-items: center; margin-left: -666px;">
    <div>
        <a asp-area="" asp-controller="Employee" asp-action="Index"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/358729/navigate-back-circle.svg"></a>
    </div>
    <div>
        <h3>Notifications</h3>
    </div>
</div>

@for (int i = 0; i < Convert.ToInt32(TempData["Count"]); i++) ;

<html>
    <head>
        <link rel="stylesheet" href="~/css/site2.css" />
    </head>
    @if (Model.SeatStatus == 2)
    {
        <div class="card-div">
            <div class="card p-2">
                <h4 class="mt-2"><img src="~/img/rejected.png" style="width:40px;height:40px">&nbsp;&nbsp; Dear @Model.Employee.EmployeeName, Your seat booking has been cancelled successfully.</h4>
                <h5 class="font-weight-bold" style="margin-left:58px">@DateTime.Now.ToShortDateString()</h5>
            </div>
        </div>
    }
    else
    {
        <div class="card-div">
            <div class="card p-2">
                <h4 class="mt-2"><img src="~/img/approved.png" style="width:40px;height:40px">&nbsp;&nbsp; Dear @Model.Employee.EmployeeName, A shift has been allocated to you and your
                desk is <b>@Model.Seat.SeatNumber</b> at <b>@Model.Seat.Floor.FloorName.</b></h4>
            <h5 style="margin-left:58px">Shift Time: <b>@Model.SeatShiftTime</b></h5>
            <h5 class="font-weight-bold" style="margin-left:58px">@DateTime.Now.ToShortDateString()</h5>
            </div>
        </div>
    }
</html>

