@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@{
    ViewData["Title"] = "ViewPassSeat";
}

@model DeskEntity.Model.BookingSeat

<br />
<a asp-area="" asp-controller="Employee" asp-action="Index"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/358729/navigate-back-circle.svg"></a>

<html>
<body style="background:-webkit-linear-gradient(left, #fff, #000)">
    <section class="vh-70 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Booking Details</h3>
                            <div class="card p-3 mb-3">                                
                                @{
                                    string imageBase64Data = Convert.ToBase64String(Model.Employee.Image);
                                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                                    <img src="@imageDataURL" alt="Avatar" class="img-fluid my-5" style="width:120px;height:120px;border-radius:50%" />
                                }
                                <h4 style="display:inline">@Model.Employee.EmployeeName</h4>
                                <h5>@Model.Employee.EmployeeNumber</h5>
                                <span class="text-center" style="border-radius: 20px;width: 150px;background-color: silver;">@Model.Employee.Role</span>
                            </div>
                            <div class="card p-3 mb-3">

                                <h6><img src="~/img/calender.png" alt="" width="20px">&nbsp;&nbsp;From Date : @Model.FromDate</h6>
                                <h6><img src="~/img/calender.png" alt="" width="20px">&nbsp;&nbsp;To Date : @Model.ToDate</h6>
                                <h6><img src="~/img/clock.png" alt="" width="20px">&nbsp;&nbsp;Shift Time : @Model.SeatShiftTime</h6>
                                <h6><img src="~/img/chair.png" alt="" width="20px">&nbsp;&nbsp;Booked Seat Number : @Model.Seat.SeatNumber</h6>
                                <h6><img src="~/img/chair.png" alt="" width="20px">&nbsp;&nbsp;Booking ID : @Model.BookingSeatId</h6>
                            </div>
                            <div class="card p-3 mb-3">
                                <h6><img src="~/img/building.png" alt="" width="20px">&nbsp;&nbsp;Floor : @Model.Seat.Floor.FloorName</h6>
                                <h6><img src="~/img/location.png" alt="" width="20px">&nbsp;&nbsp;Branch Name : Bangalore</h6>
                                <h6><img src="~/img/building.png" alt="" width="20px">&nbsp;&nbsp;Building Name : JP Nagar</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
